@import "Header.css";
@import "footer.css";
@import "reset.css";
main {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-color: #121213;
  width: 100vw;
  color: white;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
  gap: 10px;
  color: white;
  font-size: 35px;
  font-weight: bold;
}
